* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 16px 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

a {
    color: #000000;
    text-decoration: none;
}

header a {
    font-size: 32px;
    font-weight: bolder;
}

@media only screen and (max-width: 800px) {
    body {
        margin: 16px;
    }
}